﻿

<aside class="main-sidebar sidebar-light-primary elevation-4">
  

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE-3.2.0/dist/img/AdminLTELogo.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/Admin/Dashboard/Index" class="d-block">Admin</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Mail/CreateMail/" class="nav-link">
                        <i class="fi fi-sr-apps text-dark"></i> &ensp;
                        <p>
                           Yeni Mail
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Index" class="nav-link">
                        <i class="fi fi-sr-envelope text-primary"></i> &ensp;
                        <p>
                            Gelen Kutusu
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Send" class="nav-link">
                        <i class="fi fi-sr-paper-plane text-success"></i>&ensp;
                        <p>
                            Giden Kutusu
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Draft" class="nav-link">
                        <i class="fi fi-sr-envelope text-danger"></i>&ensp;
                        <p>
                            Taslaklar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Junk" class="nav-link">
                        <i class="fi fi-sr-file text-info"></i>&ensp;
                        <p>
                            Önemsiz
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Trash" class="nav-link">
                        <i class="fi fi-sr-trash text-warning"></i>&ensp;
                        <p>
                            Çöp Kutusu
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="/Login/LogOut" class="nav-link">
                        <i class="fi fi-sr-sign-out-alt text-danger"></i>&ensp;
                        <p>
                            Çıkış
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>