@model MailViewModel

@{
    ViewData["Title"] = "CreateMail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="content-wrapper">
    <section class="content m-3 mt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <form method="post" id="form" enctype="multipart/form-data">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Yeni Mail</h3>
                            </div>

                            <div class="card-body">
                                <div class="form-group">
                                    <input id="to" class="form-control" placeholder="Kime :" asp-for="ToUserEmail">
                                </div>
                                <div class="form-group">
                                    <input id="subject" class="form-control" placeholder="Konu : " asp-for="MailSubject">
                                </div>
                                <div class="form-group">
                                    <label for="Body">Mesajınız</label>
                                    <div id="editor" style="height: 300px;"></div>
                                    <input type="hidden" id="Body" asp-for="MailContent">
                                </div>
                            </div>
                            @if (ViewBag.EmailError != null)
                            {
                                <div class="alert alert-danger">
                                    <p>@ViewBag.EmailError</p>
                                </div>
                            }
                            @if (ViewBag.ErrorMessages != null)
                            {
                                <div class="alert alert-danger">
                                    <ul>
                                        @foreach (var error in ViewBag.ErrorMessages)
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                        @if (TempData["message"] != null)
                        {
                            <div class="alert alert-success font-weight-bold mt-3 text-xs">
                                @TempData["message"]
                            </div>
                        }
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="button" id="btnDraft" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Taslağa Kaydet</button>
                                <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Sil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>


<script>
    $('#btnDraft').click(async function () {

        let datas = {
            ToUserEmail: $("#to").val(),
            MailSubject: $("#subject").val(),
            MailContent: $("#Body").val()
        };

        $.ajax({
            type: "Post",
            url: "/Mail/Draft/",
            data: datas,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                $("#to").val("");
                $("#subject").val("");
                $("#Body").val("");
                Swal.fire({
                    icon: 'success',
                    title: 'Taslak kaydedildi.',
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        });
    });


    var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [{ color: [] }],
                [{ list: 'ordered' }, { list: 'bullet' }],
                ['link', 'image', 'video'],
                ['clean']
            ],
        },
    });
    quill.on('text-change', function () {
        document.getElementById('Body').value = quill.root.innerHTML;
    });


   
</script>

