
@{
    Layout = null;
}


@model ForgetPasswordViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/soft-ui-dashboard/assets/img/favicon.png">
    <title>
        Şifremi Unuttum
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/soft-ui-dashboard/assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
</head>

<body class="">
    
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info text-gradient text-center">Şifreni mi unuttun?</h3>
                                    <p class="mb-0">Olur böyle şeyler 😌️ Yeni şifre oluşturmak için e-posta adresini girebilirsin.</p>
                                </div>
                                <div class="card-body">
                                    <form method="post" role="form">
                                        <label>Mail Adresi</label>
                                        <div class="mb-3">
                                            <input type="text" required asp-for="Email" class="form-control" placeholder="Mail Adresiniz">
                                            <span class="text-danger" asp-validation-for="Email"></span>
                                        </div>
                                        <div class="alert alert-danger text-light mt-3 text-xs" asp-validation-summary="ModelOnly"> </div>
                                      @*   @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
                                        {
                                            <div class="alert alert-danger text-light mt-3 text-xs">
                                                @ViewBag.ErrorMessage
                                            </div>
                                        } *@
                                        @if (TempData["ResetSuccess"] != null)
                                        {
                                            <div class="alert alert-success font-weight-bold mt-3 text-xs">
                                                @TempData["ResetSuccess"]
                                            </div>
                                        }
                                        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Şifremi Sıfırla</button>
                                        
                                        <br />
                                        <div class="card-footer pt-4 px-lg-2 px-1">
                                            <p class="mb-4 text-sm mx-auto">
                                                Henüz bir hesabın yok mu?
                                                <a href="/Login/SignUp/" class="text-info text-gradient font-weight-bold">Kayıt Ol</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/soft-ui-dashboard/assets/img/curved-images/curved6.jpg')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <!--   Core JS Files   -->
    <script src="~/soft-ui-dashboard/assets/js/core/popper.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/core/bootstrap.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/soft-ui-dashboard/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>

</html>