
@{
    Layout = null;
}

@model ResetPasswordViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/soft-ui-dashboard/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/soft-ui-dashboard/assets/img/favicon.png">
    <title>
        Identity Message
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/soft-ui-dashboard/assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-100">

    <section class="min-vh-100 mb-8">
        <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/soft-ui-dashboard/assets/img/curved-images/curved14.jpg')">
            
        </div>
        <div class="container">
            <div class="row mt-lg-n10 mt-md-n11 mt-n10">
                <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0">
                        <div class="card-header text-center pt-4">
                            <h4>Şifre Yenileme Ekranı</h4>
                            <p>Şifrenizi buradan tekrar oluşturabilirsiniz.</p>
                        </div>
                      
                        <div class="card-body">
                            <form method="post" role="form text-left">
                                <div class="mb-3">
                                    <input type="password" asp-for="Password" class="form-control mb-2" placeholder="Şifre" aria-label="Password">
                                </div>

                                <div class="mb-3">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control mb-2" placeholder="Şifre Tekrar" aria-label="Password">
                                    <span asp-validation-for="Password" class="text-danger"> </span>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"> </span>
                                </div>
                                <div class="text-dark bg-danger" asp-validation-summary="ModelOnly"> </div>
                                @if (TempData["Reset"] != null)
                                {
                                    <div class="alert alert-success font-weight-bold mt-3 text-xs">
                                        @TempData["Reset"]
                                    </div>
                                }
                               
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Şifre Sıfırla</button>
                                </div>
                                <p class="text-sm mt-3 mb-0">Şifreni değiştirdin mi? Hemen <a href="/Login/SignIn/" class="text-dark font-weight-bolder">Giriş Yap</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/soft-ui-dashboard/assets/js/core/popper.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/core/bootstrap.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/soft-ui-dashboard/assets/js/plugins/smooth-scrollbar.min.js"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/soft-ui-dashboard/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>

</html>